extends layout

block content
	.container
		if messages.error
			div.text-danger(role='alert')
				for error in messages.error
					div= error.msg
		if messages.success
			div.text-success(role='alert')
				for success in messages.success
					div= success.msg
		if messages.info
			div.text-info(role='alert')
				for info in messages.info
					div= info.msg

		.row.center
			.col.s12.flex-shrink
				canvas#canvas.emscripten(oncontextmenu='event.preventDefault()', height='768px', width='1024px')
				script(type='text/javascript').
					var Module = {
					TOTAL_MEMORY: 268435456,
					errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
					compatibilitycheck: null,
					dataUrl: "Release/arena_battle_build_13.data",
			    codeUrl: "Release/arena_battle_build_13.js",
			    memUrl: "Release/arena_battle_build_13.mem",
					};
				script(src='Release/UnityLoader.js')

			//- .col-sm
			//-	 h3 Web Sockets Chat Test
			//-	 p Let's see if we can get a websockets chat test thing working here.
			//-	 a(href='/websocketschat', role='button') Go To Chat Test
			//- .col-sm
			//-	 h3 Current Game Build
			//-	 p Arena Battle: Space
			//-	 a(href='/currentgamebuild', role='button') Go To Game Build
			//- .col-sm
			//-	 h3 Single-shield Hole
			//-	 p Will have only one shield hole.
			//-	 a(href='/currentgamebuild1', role='button') Go To Single-shield Hole Dev Game Build
