extends layout

block content
  .container
    if messages.error
      div.text-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      div.text-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      div.text-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      .col-sm
        h3 Web Sockets Chat Test
        p Let's see if we can get a websockets chat test thing working here.
        a(href='/websocketschat', role='button') Go To Chat Test
      //- .col-sm
      //-   h3 Multi-shield Hole
      //-   p Can have multiple shield holes.
      //-   a(href='/currentgamebuild', role='button') Go To Multi-shield Hole Game Build
      .col-sm
        h3 Single-shield Hole
        p Will have only one shield hole.
        a(href='/currentgamebuild1', role='button') Go To Single-shield Hole Dev Game Build
